<form novalidate #form="ngForm" class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">Geração de certificado</h1>
    <p class="mb-4 custom-subtitle">Preencha os dados para gerar um novo certificado</p>
  </div>
  <div class="custom-card w-100">
    <h2 class="card-title">Novo certificado</h2>
    <div class="mb-3 custom-input-group">
      <label class="form-label" for="name"> Nome </label>
      <input
        id="name"
        name="name"
        #nameRef="ngModel"
        maxlength="150"
        required
        [(ngModel)]="certificateForm.name"
        type="text"
        class="form-control custom-input"
        placeholder="Nome do aluno"
      />

      @if(isInvalidField(nameRef) ) {
      <div class="error-message d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="m-0">O nome do aluno é obrigatório</p>
      </div>
      }
    </div>
    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">
        <label for="activity" form="activity" class="form-label"> Atividade </label>
        <input
          type="text"
          class="form-control custom-input"
          placeholder="Atividade exercida"
          id="activity"
          name="activity"
          #activityRef="ngModel"
          [(ngModel)]="activity"
          maxlength="50"
        />
      </div>
      <app-secondary-button
        [disabled]="!activity || activity.length === 0"
        (click)="addActivityItem()"
      >
        <i class="ph ph-plus"></i> Adicionar
      </app-secondary-button>
    </div>

    <div class="atividade-group">
      <label class="form-label" for="">Lista de atividades</label>

      <div class="item-list w-100">
        @for (activity of certificateForm.actitivies; let idx = $index; let isLast = $last; track
        idx;) {
        <div class="item">
          <span class="item-text">{{activity}}</span>
          <div class="remove-btn" (click)="removeActivityItem(idx)">
            <i class="ph-bold ph-x"></i>
          </div>
        </div>

        <hr *ngIf="!isLast" />
        }
      </div>
    </div>
    <app-primary-button [disabled]="!isFormValid()" (click)="submit()">
      Gerar certificado
    </app-primary-button>
  </div>
</form>
