.navbar {
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e8f0;
  padding-right: 28px;
  padding-left: 12px;
}

.navbar-logo img {
  height: 40px;
}

.active {
  color: #3b5ac2;
}

.nav-item {
  cursor: pointer;
  padding: 6px !important;
  margin-left: 18px !important;

  i {
    font-size: 20px;
  }
}

.nav-link.active {
  color: #3b5ac2;
  font-weight: 600;
}
